@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>.NET 💜 Azure This is an excellent model!!!</h1>
    <p class="lead">Example .NET app to Azure App Service.</p>
</div>
